[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynvim = "*"
torch = "*"
tensorboard = "*"
matplotlib = "*"
numpy = "*"
torchvision = "*"
jupyter = "*"
pyqt5 = "*"
jupyter-client = "==6.1.0"
jupytext = "*"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.10"
